.containerContent {
    background-color: white;
}

.content {
    max-width: 1200px;
}

.content-right {
    text-align: center;
}

.content-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

}   

.img-content {
    max-width: 400px;
    margin-right: 20px;
    background-color: transparent;
}

.img-content2 {
    max-width: 400px;
}

@media (max-width: 1366px) {
    .content-right {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .content-images {
        justify-content: center;
    }
    
    .img-content, .img-content2 {
        max-width: 300px;
    }
}