.form_container {
  width: 25%;
}

@media screen and (max-width:1000px) {
  .form_container {
    width: 45%;
  }
}
@media screen and (max-width:700px) {
  .form_container {
    width: 65%;
  }
}
.login{
  background-image: url('https://nld.mediacdn.vn/291774122806476800/2022/3/31/dong-ky-luc-1648688420996963981270.jpg');
  background-size: cover;
}