.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    background-color: white;
    gap: 24%;
    margin-top: 3%;
  }
  .hero-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    background-color: white;
    margin-top: 3%;
  }
  
  .hero-content {
    max-width: 32%;
  }
  
  .hero-content h1 {
    font-size: 48px;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    color: #7f8c8d;
    /* margin-bottom: 30px; */
  }
  
  .hero-buttons {
    display: flex;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn.primary {
    background-color: #bdc3c7;
    color: white;
  }
  
  .btn.secondary {
    background-color: transparent;
    color: #3498db;
    text-decoration: none;
  }
  
  .hero-image {
    max-width: 70%;
  }
  
  .hero-image img {
    width: 70%;
    max-width: 400px; /* Chỉnh lại kích thước ảnh theo nhu cầu */
  }
  .btn.primary {
    background-color: #d35400; /* Màu cam */
    color: white;
  }
  .hero-content h1 {
    margin-bottom: 20px;
  }
  
  .hero-buttons {
    margin-top: 30px;
  }
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
      
  